<a href="https://colab.research.google.com/github/bharathkumaro5/pandas/blob/main/bharathkumar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Getting Familiar with Pandas

Pandas is a powerful library in Python for data manipulation and analysis. The primary data structures in Pandas are:

Series: A one-dimensional labeled array capable of holding any data type.

DataFrame: A two-dimensional labeled data structure with columns of potentially different types.

1.series creation

In [1]:
import pandas as pd
# From a list
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)
# From a dictionary
data = {'A': 1, 'B': 2, 'C': 3}
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
dtype: int64
A    1
B    2
C    3
dtype: int64

2.DataFrame Creation:

In [4]:
import pandas as pd
data = {
    'Name': ['ab', 'cd', 'ef'],
    'Age': [25, 30, 35],
    'City': ['china', 'india', 'Chicago']
}
df = pd.DataFrame(data)
print(df)

  Name  Age     City
0   ab   25    china
1   cd   30    india
2   ef   35  Chicago

common operations

1.selecting data

In [11]:
import pandas as pd
data = {
    'Name': ['ab', 'cd', 'ef'],
    'Age': [25, 30, 35],
    'City': ['china', 'india', 'Chicago']
}
df=pd.DataFrame(data)
# Selecting a column
print(df['Name'])
# Selecting rows by index
print(df.iloc[0])

0    ab
1    cd
2    ef
Name: Name, dtype: object
Name       ab
Age        25
City    china
Name: 0, dtype: object

2.filtering rows

In [10]:
import pandas as pd
data= {
    'Name': ['ab', 'cd', 'ef'],
    'Age': [25, 30, 35],
    'City': ['china', 'india', 'Chicago']
}
df=pd.DataFrame(data)
filtered_df = df[df['Age'] > 30]
print(filtered_df)

  Name  Age     City
2   ef   35  Chicago

3.Modifying Data:

In [12]:
import pandas as pd
data = {
    'Name': ['ab', 'cd', 'ef'],
    'Age': [25, 30, 35],
    'City': ['china', 'india', 'Chicago']
}
df=pd.DataFrame(data)
df['Country'] = 'USA'
print(df)
# Modifying existing data
df.loc[0, 'Age'] = 26
print(df)

  Name  Age     City Country
0   ab   25    china     USA
1   cd   30    india     USA
2   ef   35  Chicago     USA
  Name  Age     City Country
0   ab   26    china     USA
1   cd   30    india     USA
2   ef   35  Chicago     USA

2. Data Handling with Pandas

Handling missing data

In [22]:
import pandas as pd
import numpy as np

# Creating a DataFrame with missing values
data = {
    'Name': ['ab', 'cd', 'ef', np.nan],
    'Age': [25, np.nan, 35, 40],
    'City': ['china', 'india', np.nan, 'chicago']
}
df = pd.DataFrame(data)
# Filling missing values
df_filled = df.fillna({'Name': 'Unknown', 'Age': df['Age'].mean()})
print("\nDataFrame with Missing Values Filled:\n", df_filled)

# Dropping rows with missing values
df_dropped = df.dropna()
print("\nDataFrame with Missing Values Dropped:\n", df_dropped)

DataFrame with Missing Values Filled:
       Name        Age     City
0       ab  25.000000    china
1       cd  33.333333    india
2       ef  35.000000      NaN
3  Unknown  40.000000  chicago

DataFrame with Missing Values Dropped:
   Name   Age   City
0   ab  25.0  china

Data transformation

1. Renaming Columns and Indexes
python

In [26]:
import pandas as pd
# Creating a DataFrame
df = pd.DataFrame({
    'OldName1': [1, 2, 3],
    'OldName2': [4, 5, 6]
},
index=['a', 'b', 'c'])
# Renaming columns
df.rename(columns={'OldName1': 'NewName1', 'OldName2': 'NewName2'}, inplace=True)
print(df)
# Renaming index
df.rename(index={'a': 'row1', 'b': 'row2', 'c': 'row3'}, inplace=True)
print(df)

   NewName1  NewName2
a         1         4
b         2         5
c         3         6
      NewName1  NewName2
row1         1         4
row2         2         5
row3         3         6

**3.data analysis with pandas**

generating summary statistics

In [31]:
import pandas as pd
# Creating a DataFrame
data = {
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}
df = pd.DataFrame(data)
# Summary statistics
print("\nSummary Statistics:\n", df.describe())

Summary Statistics:
              Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

**Grouping data and applying aggregates**

In [32]:
import pandas as pd
# Creating a DataFrame
data = {
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 60000, 65000, 55000, 70000]
}
df = pd.DataFrame(data)
# Group by 'Department' and calculate the mean salary
grouped = df.groupby('Department').mean()
print("\nGrouped Data and Aggregates:\n", grouped)

Grouped Data and Aggregates:
              Salary
Department
Finance     70000.0
HR          52500.0
IT          62500.0

**concatinating dataframes**

In [33]:
import pandas as pd

# Creating DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['cherry', 'Bharath', 'bunny']
})

df2 = pd.DataFrame({
    'ID': [4, 5],
    'Name': ['kdp', 'anii']
})
# Concatenating DataFrames
concatenated_df = pd.concat([df1, df2], ignore_index=True)
print("\nConcatenated DataFrame:\n", concatenated_df)

Concatenated DataFrame:
    ID     Name
0   1   cherry
1   2  Bharath
2   3    bunny
3   4      kdp
4   5     anii

4. Application in Data Science
Pandas is an indispensable tool in data science due to its powerful data manipulation capabilities. Here’s how it aids data science professionals:

Advantages of Using Pandas
Efficient Data Handling:

Data Structures: Pandas offers two primary data structures, Series and DataFrame, which are designed for handling complex data manipulations efficiently. Unlike traditional Python data structures like lists and dictionaries, Pandas data structures are optimized for performance, especially with large datasets.
Vectorized Operations: Pandas allows for vectorized operations (performing operations on entire arrays of data at once) which are much faster than iterating through data manually. This results in significant speed improvements for data processing.

Rich Functionality:
Data Manipulation: Pandas provides a comprehensive set of functions for reshaping, merging, and aggregating data. Operations such as joining, concatenating, and pivoting data are straightforward and highly efficient.
Missing Data Handling: Built-in methods to handle missing values (fillna, dropna) simplify the cleaning process, making it easier to prepare data for analysis.

Data Analysis and Aggregation:
Descriptive Statistics: Functions like describe(), groupby(), and pivot_table() offer quick insights into the data, helping in understanding distributions and relationships within the dataset.
Custom Aggregations: The ability to apply custom aggregation functions to grouped data allows for flexible and complex data analysis.

Data Cleaning and Preparation:
Consistent Data Format: Pandas helps in converting data into a consistent format, which is crucial for accurate analysis and model building.
Data Transformation: Easily perform operations like normalization, scaling, and feature engineering to prepare data for machine learning models.